.blog-author-skin {
    background-image: url('https://minotar.net/helm/whiteparrot/32.png'); 
}

.author-name::after {
   content: "WhiteParrot";
   color: #ff0000;
}

.blogtitle::after {
   content: "Preparing for production";
}

.blogcontent::after {
   white-space: pre-wrap;
   font-weight: bold;
   content: "ArcaneCC is a simp ";
}

.about-responsemain::after {
   content: "Simp Client is a Free Modpack built for Minecraft 1.7.10. The goal and mission of Simp Client is to create a non-toxic and safe playing environment.";
}
